html, body {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: arial, sans-serif;
	line-height: 1.6;
	width: 100vw;
	height: 100vh;
}

img {
	width: 100%;
}

.g-background {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url(background.png);
	background-size: 100% 100%;
	filter: blur(6px);
	z-index: -1;
}

#canvas, canvas	{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#canvas {
	position: fixed;
	top: 0;
	left: 0;
	filter: saturate(1.8);
	opacity: 0.9;
}

.g-video-cont {
	overflow: hidden;
	position: relative;
	height: 100vh;
}

.g-vid {
	max-width: 101%;
	height: 100%;
	filter: brightness(1.01);
}

.g-thing-cont {
	max-width: 800px;
	margin: 0 auto;
	height: 100%;
}

@media screen and (min-width: 600px) {
	.g-thing-cont {
		display: flex;
		align-items: center;
	}

	.g-frame-outer {
		width: 50%;
		margin-right: 10px;
		box-shadow: 0 0 3px rgba(0,0,0,0.5), 0 0 10px rgba(0,0,0,0.5);
	}

	.g-video-cont {
		height: auto;
		margin: 0 auto -7px auto;
	}

	.g-vid {
		width: 101%;
	}
}